<a href="https://colab.research.google.com/github/aswathim3844/python_notes/blob/main/DAY_3_iterative_statement_%2Cfuntions_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Iterative statements**
For loop

it can be executed in two ways ; using range or through an iterative data structure

for char in "Hello":
    
    print(char)
for i in range(10):

    print(i)

In [ ]:
for i in range(12):
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11

In [ ]:
for num in range(100,140,2):
  print(num)

100
102
104
106
108
110
112
114
116
118
120
122
124
126
128
130
132
134
136
138

In [ ]:
for num in range(100,140,2):
  print(num**2)

10000
10404
10816
11236
11664
12100
12544
12996
13456
13924
14400
14884
15376
15876
16384
16900
17424
17956
18496
19044

In [ ]:
word="remote internship"
for char in word:
  print(char)

r
e
m
o
t
e

i
n
t
e
r
n
s
h
i
p

In [ ]:
value =[1,2,9,4,6]
for char in value:
  print(char)

1
2
3
4
6

In [ ]:
for i in range (len(value)):
  print(i)

0
1
2
3
4

In [ ]:
for i in range (len(value)):
  print(value[i])

1
2
3
4
6

In [ ]:
list1=[-1,-2,-6,5,8,7]
for i in list1:
  if i<=0:
     print("negative number")
  else:
    print("positive number")

negative number
negative number
negative number
positive number
positive number
positive number

In [ ]:
my_dict={"name":"aswathi","age":24,"course":"dsa","place":"tvm"}

In [ ]:
my_dict

{'name': 'aswathi', 'age': 24, 'course': 'dsa', 'place': 'tvm'}

In [ ]:
my_dict.keys()

dict_keys(['name', 'age', 'course', 'place'])

In [ ]:
my_dict.values()

dict_values(['aswathi', 24, 'dsa', 'tvm'])

In [ ]:
my_dict.items()

dict_items([('name', 'aswathi'), ('age', 24), ('course', 'dsa'), ('place', 'tvm')])

In [ ]:
for k,v in my_dict.items():
  print(f'my {k} is {v}')

my name is aswathi
my age is 24
my course is dsa
my place is tvm

In [ ]:
grocery_price={"paneer":120,"banana":60,"milk":23,"oats":80,"egg":58,"bread":45,"apple":120,"chicken":180}
budget=300
total_price=0
my_list=[]
for x,y in grocery_price.items():
  if y<budget and total_price+y<=budget:
    total_price+=y
    my_list.append(x)

print(my_list)

['paneer', 'banana', 'milk', 'oats']

In [ ]:
for x in range(1,100):
  if x%5==0 and x%3==0:
    print(x)

15
30
45
60
75
90

In [ ]:
A=1
while A<10:
  print(A)
  A=A+2
else:
  print("you crossed the limit")

1
3
5
7
9
you crossed the limit

In [ ]:
balance_amount=215
while balance_amount>0:
  print(f"balance is {balance_amount}")
  balance_amount-=50

else:
  print("balance low!")

balance is 215
balance is 165
balance is 115
balance is 65
balance is 15
balance low!

In [ ]:
secret_num=15
num=int(input("enter a number "))

while num!=secret_num:
  print("oops! wrong number")
  num=int(input("enter a number "))
else:
  print("you got it right")

enter a number 45
oops! wrong number
enter a number 15
you got it right

In [ ]:
secret_num=15
import random
num1=random.randint(1,50)
while num1!=secret_num:
  print(f'guess is {num1} oops! wrong number')
  num1=random.randint(1,50)
else:
  print("you got it right")

guess is 19 oops! wrong number
guess is 33 oops! wrong number
guess is 40 oops! wrong number
guess is 49 oops! wrong number
guess is 13 oops! wrong number
guess is 45 oops! wrong number
guess is 42 oops! wrong number
guess is 40 oops! wrong number
guess is 2 oops! wrong number
guess is 19 oops! wrong number
guess is 2 oops! wrong number
guess is 46 oops! wrong number
guess is 29 oops! wrong number
guess is 50 oops! wrong number
guess is 21 oops! wrong number
guess is 45 oops! wrong number
guess is 7 oops! wrong number
guess is 25 oops! wrong number
guess is 32 oops! wrong number
guess is 30 oops! wrong number
guess is 27 oops! wrong number
guess is 16 oops! wrong number
guess is 50 oops! wrong number
guess is 37 oops! wrong number
guess is 19 oops! wrong number
guess is 31 oops! wrong number
guess is 30 oops! wrong number
guess is 21 oops! wrong number
guess is 35 oops! wrong number
guess is 23 oops! wrong number
guess is 47 oops! wrong number
guess is 5 oops! wrong number
guess is 27 oops! wrong number
guess is 18 oops! wrong number
guess is 41 oops! wrong number
guess is 33 oops! wrong number
guess is 12 oops! wrong number
guess is 42 oops! wrong number
guess is 26 oops! wrong number
guess is 35 oops! wrong number
guess is 39 oops! wrong number
guess is 34 oops! wrong number
guess is 32 oops! wrong number
guess is 4 oops! wrong number
you got it right

In [ ]:
password1=123


count=0
while count<3:
  password=int(input("ENTER PASSWORD "))
  if password!=password1:
     password=int(input("wrong password , try again  "))
     count+=1
  else:
    print("SUCCESFULLY LOGGED IN")
    break
else:
  print("attempt exceeded")

ENTER PASSWORD 124
wrong password , try again  145
ENTER PASSWORD 123
SUCCESFULLY LOGGED IN

In [ ]:
#Create a dictionary to store movie and their rating
movie_rating ={'The Dark Knight':9.0,'Inception':8.8,'Interstellar':8.7,'Forrest Gump':8.8,'The Room':3.6,'Cats':2.8,'Movie 43':4.3,'The Love Guru':3.8}
#print all movies and rating
movie_rating.items()

dict_items([('The Dark Knight', 9.0), ('Inception', 8.8), ('Interstellar', 8.7), ('Forrest Gump', 8.8), ('The Room', 3.6), ('Cats', 2.8), ('Movie 43', 4.3), ('The Love Guru', 3.8)])

In [ ]:
#update a movie rating
movie_rating['The Dark Knight']=8.9
print(movie_rating)

{'The Dark Knight': 8.9, 'Inception': 8.8, 'Interstellar': 8.7, 'Forrest Gump': 8.8, 'The Room': 3.6, 'Cats': 2.8, 'Movie 43': 4.3, 'The Love Guru': 3.8}

In [ ]:
#add 2 new movie and thier rating to dictionary
movie_rating["abc"]=4.5
movie_rating["juhg"]=5.6
print(movie_rating)

{'The Dark Knight': 8.9, 'Inception': 8.8, 'Interstellar': 8.7, 'Forrest Gump': 8.8, 'The Room': 3.6, 'Cats': 2.8, 'Movie 43': 4.3, 'The Love Guru': 3.8, 'abc': 4.5, 'juhg': 5.6}

In [ ]:
#find the highest rated movie from the dictionary
highest_rating = max(movie_rating.values())
print(highest_rating)

8.9

In [ ]:
#remove movies from dicationary if rating below 5
new_dict=[]
for x,y in movie_rating.items():
   if y<5:
      new_dict.append(x)
for x in new_dict:
  del movie_rating[x]
print(movie_rating)

{'The Dark Knight': 8.9, 'Inception': 8.8, 'Interstellar': 8.7, 'Forrest Gump': 8.8, 'juhg': 5.6}