<a href="https://colab.research.google.com/github/aswathim3844/python_notes/blob/main/python_datatypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

data types of python

NUMERIC

*   INTEGER
*   float
*   complex

TEXT
*   string

SEQUENCE

*  LIST [ ]
   can include any type of data ,
   modifiable,
   mutable,
   can use index


* tuple ( )
  Immutable,
  can include any type of data,
  can use index



* RANGE :- range(start,stop,step),
exclude stop value

MAPPING


*   Dictionary  {key1:value1, key2:value2}


SET { }


*   can contain any type of values, but should be unique , mutable

None

BOOLEAN

In [ ]:
age =2
print(age)

2

In [ ]:
print(100)

100

In [ ]:
type(age)

int

In [ ]:
list1=[1,2,'list']
list1

[1, 2, 'list']

In [ ]:
list1.append(56)

In [ ]:
type(list1)

list

In [ ]:
tuple1=(1,2,'list')

In [ ]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
list(range(2,5))

[2, 3, 4]

In [ ]:
list(range(2,50,2))

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48]

In [ ]:
list(range(1,10,2))#printing odd values

[1, 3, 5, 7, 9]

In [ ]:
list(range(0,10,2)) #printing even values

[0, 2, 4, 6, 8]

In [ ]:
list(range(50,10,-2)) #IN REVERSE ORDER

[50,
 48,
 46,
 44,
 42,
 40,
 38,
 36,
 34,
 32,
 30,
 28,
 26,
 24,
 22,
 20,
 18,
 16,
 14,
 12]

In [ ]:
details ={'batch':7,'course':'dsa'}

In [ ]:
details

{'batch': 7, 'course': 'dsa'}

In [ ]:
set1={1,2,2,3,.4,'or'}

In [ ]:
set1

In [ ]:
3.==3.0

In [ ]:
year_of_birth =1990

age = 2025 -year_of_birth
print(age)

In [ ]:
bio_data ={"name":"Aswathi m",\
           "age":24,"location":"Alapuzha"}
bio_data

In [ ]:
to_do_list =["drink water","learn python",'wash clothes']
print(to_do_list)

['drink water', 'learn python', 'wash clothes']

In [ ]:
odd_numbers=list(range(99,0,-2))
odd_numbers

[99,
 97,
 95,
 93,
 91,
 89,
 87,
 85,
 83,
 81,
 79,
 77,
 75,
 73,
 71,
 69,
 67,
 65,
 63,
 61,
 59,
 57,
 55,
 53,
 51,
 49,
 47,
 45,
 43,
 41,
 39,
 37,
 35,
 33,
 31,
 29,
 27,
 25,
 23,
 21,
 19,
 17,
 15,
 13,
 11,
 9,
 7,
 5,
 3,
 1]

In [ ]:
to_do_list[1] #print second item

'learn python'

In [ ]:
to_do_list[-2] #print second last item

'learn python'

In [ ]:
name=input()
len(name)

aswathi

7

In [ ]:
type(name)

str

In [ ]:
age=int(input())
type(age)

In [ ]:
number1=int(input())
number2=int(input())
addition=print(number1+number2)
substraction=print(number1-number2)
multiplication=print(number1*number2)
division=print(number1/number2)

In [ ]:
number1=int(input())
number2=int(input())
addition=(number1+number2)
substraction=(number1-number2)
multiplication=(number1*number2)
division=(number1/number2)

print(addition,
      substraction,
      multiplication,
      division)

In [ ]:
year_of_birth =int(input('enter your year of birth '))

age = 2025 -year_of_birth
print(f'you are born in {year_of_birth} and your age is {age}')

In [ ]:
a=85
b=5
c=a**b
print(c)

4437053125

In [ ]:
num=789456
den=564
result= num//den
print(result)

1399

In [ ]:
num**.5

888.5133651217634

operators

arimetic




logical :- and ,or, not





assignment :- ==,!=


membership operator :- IN,NOT IN


identity operator :- is ,isnot

In [ ]:
print(1 in [1,2,3,4])

True

In [ ]:
print(1 not in[1,2,3,4])

False

In [ ]:
"b" in 'malayalam'

False

In [ ]:
'ay' in 'malayalam'

True

In [ ]:
'sa' in 'aswathi'

False

In [ ]:
a=10
b=10
print(a is b)

a=10
b=12
print(a is b)

a=10
b=10
print(a is not b)

True
False
False

In [ ]:
'hello '*5 # operator overriding

'hello hello hello hello hello '

In [ ]:
'welcome to ' + 'dsa class'

'welcome to dsa class'

In [ ]:
greetings = input()
no = int(input())
print((greetings+ '\n')*no)

hey
5
hey
hey
hey
hey
hey

In [ ]:
'ict academy of kerala'[4:11:2]

'aaey'

In [ ]:
'ict academy of kerala'.split("a")

['ict ', 'c', 'demy of ker', 'l', '']

In [ ]:
#write a code to print(true/false) a given string is palindrome

string=input()
string1=reversed(string)
print(string is string1)

malayalam
False

In [ ]:
string = input()
reverse= string[::-1]
print(string == reverse )

malayalam
True

In [ ]:
#write code to print a 4 digit otp in words

digit_words={0:"zero",1:"one",2:"two",3:"three",4:"four",5:'five'}
digit =int(input("enter otp : "))
print(digit_words[digit])

enter otp : 1254

KeyError: 1254

In [ ]:
words=['zero','one','two','three','four','five','six','seven','eight','nine']
otp= input('enter OTP : ')
print(words[int(otp[0])],words[int(otp[1])],words[int(otp[2])],
      words[int(otp[3])])
''',words[int(otp[4])],words[int(otp[5])],
      words[int(otp[6])],words[int(otp[7])],words[int(otp[8])],
      words[int(otp[9])])'''

In [ ]:
words=['zero','one','two','three','four','five','six','seven','eight','nine']
otp= input('enter OTP : ')
print(words[int(otp[0])],words[int(otp[1])],words[int(otp[2])],
      words[int(otp[3])],words[int(otp[4])],words[int(otp[5])],
      words[int(otp[6])],words[int(otp[7])],words[int(otp[8])],
      words[int(otp[9])])

In [ ]:
#write code to  print a 4 digit otp in words

digit_words={1:"one",2:"two",3:"three",4:"four",5:'five',6:'six',7:'seven',8:'eight',9:'nine'}
otp =(input("enter otp : "))
print(words[int(otp[0])],words[int(otp[1])],words[int(otp[2])],words[int(otp[3])])

In [ ]:
#write code to print to a 4 digit word in digits
word = input('Enter number in words: ').split()
digits= {'zero':0,'one':1,'two':2,'three':3,'four':4,'five':5,'six':6,'seven':7,'eight':8,'nine':9}
print(digits[word[0]],digits[word[1]],digits[word[2]],digits[word[3]])

In [ ]:
a="89"
b=int(a)
print(b)
type(b)

89

int

In [ ]:
c=float(a)
print(c)
type(c)

89.0

float

In [ ]:
integer=67
string1=int(integer)
print(string1)
type(string1)

67

int

In [ ]:
float1=float(integer)
print(float1)
type(float1)

67.0

float

In [ ]:
list2=["hello"]
tuple2=tuple(list2)
print(tuple2)
type(tuple2)

('hello',)

tuple

#KEYWORD OF PYTHON

In [ ]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
#string join

In [ ]:
domain= ["data","science"]
"-".join(domain)

'data-science'

#list operations

In [ ]:
x= [1,2,3]
x.append(4)
print(x)
x.extend([5,6])
print(x)
x.remove(2)
print(x)
x.insert(0,10)
print(x)
x.sort( )
print(x)
e=x.pop(0)
print(e,x)
x.clear()
print(x)

[1, 2, 3, 4]
[1, 2, 3, 4, 5, 6]
[1, 3, 4, 5, 6]
[10, 1, 3, 4, 5, 6]
[1, 3, 4, 5, 6, 10]
1 [3, 4, 5, 6, 10]
[]

In [ ]:
y=[1,3,5]
print(y)
y.append(4)
print(y)
y.extend([2,6])
print(y)
y.remove(4)
print(y)
y.insert(0,7)
print(y)
y.reverse()
print(y)
y.sort()
print(y)
x = y.pop(3)
print(x,y)
y.clear()
print(y)

[1, 3, 5]
[1, 3, 5, 4]
[1, 3, 5, 4, 2, 6]
[1, 3, 5, 2, 6]
[7, 1, 3, 5, 2, 6]
[6, 2, 5, 3, 1, 7]
[1, 2, 3, 5, 6, 7]
5 [1, 2, 3, 6, 7]
[]

In [ ]:
#write a code to covert date format from dd/mm/yyy to mm/dd/yyyy ,dd/mm/yyyy ,yyyy/dd/mm
entry=input("enter date in dd/mm/yyyy format").split('/')
day=entry[0]
month=entry[1]
year=entry[2]
print("/".join([month,day,year]))
print("/".join([day,month,year]))
print("/".join([year,day,month]))

enter date in dd/mm/yyyy format28/05/2001
05/28/2001
28/05/2001
2001/28/05

In [1]:
print(type(5 + 5.0))

<class 'float'>